body{
    background-color: gray;
}
main { width:   1000px;}
    th {
          background-color: red;
    }
    table th,td {
    border-color: blue;
    border-collapse: collapse;
    border: 1px dotted;
    }
.txtcenter{
    text-align: center;
}